.col-md-6{

    background-color: aliceblue;
    color: black;
    border-radius: 20px;

}

.mt-3{

    border-radius: 15px;
    height: 40px;
    width: 30%;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    font-size: 11px;
    background-color: black;
    color: white;

}

body{

    background-color: black;

}